@import url('https://fonts.googleapis.com/css2? family= Livvic:wght@700 & display=swap');

a {
  color: #B0B0B5;
}

body {
  font-family: 'Livvic', Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: #036;
  /*background-image: linear-gradient(#EAF3F6,#B0B0B5);*/
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
}

.title {
  /*font-family: 'Livvic', Garamond, 'Times New Roman', Times, serif;*/
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  top: 200px;
  /*color: #9296A1;*/
  color: #ffffff;
}

.search-input::placeholder {
  color: #80868b;
}

.search-button {
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 24px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 這一行新增陰影效果 */
  transition: box-shadow 0.3s ease; /* 這一行新增陰影變化的平滑過渡效果 */
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 8px 15px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  font-size: 16px;
  outline: none;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}

.search-container {
  text-align: center;
}