@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@700&display=swap');

a {
  color: #B0B0B5;
}

body {
  font-family: 'Livvic';
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, rgba(15, 25, 36, 0.9) 30%,rgba(15, 25, 36, 0.8) 40%, rgb(15, 25, 36, 0.7) 50%, rgb(15, 25, 36, 0) 60%), url('../picture/background.jpg');

}

/*.container {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: #036;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
}*/

.left-panel {
  width: 50%;
  min-height: 100vh;
  /*background-color: #003366;*/
  padding: 20px;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.container img, .container h1{
  display: inline-block;
  vertical-align: middle;
}

.title {
  font-family: 'Livvic', Garamond, 'Times New Roman', Times, serif;
  font-size: 25px;
  top: 200px;
  color: #6FC3CB;
}

.title span.light{
  display: inline-block;
  color: #fff;
}

.left-panel p {
  font-family:'Livvic';
  font-size: 16px;
}

.left-panel label {
  font-family:'Times New Roman', Times, serif;
  color: #036;
  font-weight: bold;
}

.search-input::placeholder {
  font-family: sans-serif;
  font-weight:500;
  font-size: 14px;
  color: rgb(147, 147, 147);
}

.search-button {
  background-color: rgb(29, 113, 196);
  color: #fff;
  border: none;
  border-radius: 24px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 5px;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 5px 10px;
}

.search-box select {
  display: flex;
  justify-content: center;
  gap: 5px;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 8px 10px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #dfe1e5;
  width: 250px;
  border-radius: 24px;
  font-size: 12px;
  outline: none;
}

.search-container {
  text-align: center;
}